ion-header {
  .img-logo {
    width: 120px;
    height: 70px;
    margin: 0 auto;
  }
}

form {
  ion-label {
    margin-bottom: 10px !important;
  }
  
  ion-button {
    margin-top: 2%;
  }
}

/* Form Validation */

p {
  color: #ea6153;
}

ion-label, .select-text {
  margin-left: 10px;
}

/* Desktop Media Query */

@media (min-width: 1025px) {
  .marginForm {
    margin: 3% 10% 0;
  }
}
